<!DOCTYPE html>
<html>
<head>
    <script src="../app.js"></script>
</head>


<body>


<div ng-app="myApp">
    <div ng-controller="playerCtrl">
        <div  ui-grid="grid" ui-grid-edit class="grid" ui-grid-auto-resize></div>
        <div><br />
            <form novalidate class="simple-form">
                <label>Id: {{maxId()}}</label>
                <label>Imie: <input type="text" ng-model="player.imie"/></label>
                <label>Nazwisko: <input type="text" ng-model="player.nazwisko"/></label>
                <label>Pesel: <input type="text" ng-model="player.pesel"/></label>
                <input type="submit" ng-click="add(player)" value="Dodaj"/>
            </form>

        </div>
    </div>
</div>


</body>
</html>