<!DOCTYPE html>
<html>
<head>
    <script src="../app.js"></script>
</head>
<body>
<div ng-app="myApp">
    <div ng-controller="teamCtrl">

        <div>
            <form novalidate class="simple-form">
                <input type="text" ng-model="entry.nazwa" placeholder="Nazwa"/>
                <input type="submit" ng-click="add(entry)" value="Dodaj"/>
            </form>
        </div>

        <div ng-hide="!showEdit" ng-show="showEdit">
            <form novalidate class="simple-form">
                <label>Nazwa: <input type="text" ng-model="edited.nazwa"></label>
                <input type="submit" ng-click="update(edited)" value="Zaktualizuj"/> <a ng-click="showEdit=false">&#10006;</a>
            </form>
        </div>

        <br/>
        <div ui-grid="grid" ui-grid-edit class="grid"></div>
    </div>
</div>


</body>
</html>