<!DOCTYPE html>
<html>
<head>
    <script src="../app.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="../../libs/ui-grid.css">-->
</head>
<body>
<div ng-app="myApp">
    <div ng-controller="teamCtrl">
        <div  ng-if="!refresh" ui-grid="teamGrid" ui-grid-edit class="grid" ui-grid-auto-resize></div>
        <div><br />
            <form novalidate class="simple-form">
                <label>Id: {{maxId()}}</label>
                <label>Nazwa: <input type="text" ng-model="team.nazwa"/></label>
                <input type="submit" ng-click="add(team);refreshGrid()" value="Dodaj"/>
            </form>

        </div>
    </div>
</div>


</body>
</html>